@page
@model moment1.Pages.AboutModel
@{
}

<h1>Om sidan</h1>

<p>
    Hej. Jag heter Kate Tran och studerar webbutveckling på Mittuniversitet.
</p>

<p>
    Jag som utvecklare skapar webbsidor för alla kunder som vill ha moderna webbplatser. Jag har använt
    ASP.NET Core Razor Pages och JavaScript för att bygga denna sida.
</p>
<p>
    Jag har stylat webbplatsen med css och jag har delat in sidan i header, navigation menu, main-content
    och footer för att få en bra struktur på hemsidan.
</p>